*.png
*.old
.DS_Store
.log
*.wav
*.pyc
__pycache__/
*.db
*.jpg
*.jpeg

models/
voices/

# dependencies
node_modules/
/.pnp
.pnp.js
.env

# testing
/coverage

# production
/build

# misc
package-lock.json
backend/config/katex8-*-sc.json




